<% provide(:title, 'Home') %>

<% if signed_in? %>
	<aside class="span4">
	<section>
	<%= render 'shared/user_info' %>
	</section>
	<section>
	<%= render 'shared/article_form' %>
	</section>
	</aside>
<% else %>
	<h1>Welcome to the Sample Forum</h1>
	<h2>
		This is the home page for the Sample Forum sample application.	
	</h2>
	<%= link_to "Sign up now!", signup_path %>
<% end %>
